.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #000000;
}

h1 {
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #d3a625;
  margin: 2rem auto;
  text-align: center;
}

p {
  font-size: 2rem;
  color: #eeba30;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 45%;
}

header {
  margin: 3rem 0 1rem 0;
  color: #ae0001;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 1.6rem;
}

@media (min-width : 800px) {
  body {
    margin: auto;
  }
  header{
    font-size: 3rem;
  }
  img {
    width: 70%;
  }

}